.h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(47, 47, 47);
  margin: 64px 0 24px 0;
  letter-spacing: -1.2px;
  font-family: 'Manrope', sans-serif;
  position: relative;
  padding-top: 16px;
}

.h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

.h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  color: rgb(47, 47, 47);
  margin: 56px 0 20px 0;
  letter-spacing: -0.8px;
  font-family: 'Manrope', sans-serif;
  position: relative;
  padding-top: 12px;
}

.h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(47, 47, 47);
  margin: 40px 0 16px 0;
  letter-spacing: -0.5px;
  font-family: 'Manrope', sans-serif;
}

