.container {
  margin: 28px 0;
}

.text {
  font-size: 17px;
  line-height: 1.75;
  color: rgb(47, 47, 47);
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: -0.1px;
}

