.container {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: min-content;
  justify-content: flex-start;
  position: relative;
  row-gap: 30px;
  width: 100%;
}

.statusSection {
  position: relative;
}

.greetingSection {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  height: min-content;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.greetingRow {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 18px;
  height: min-content;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.greetingLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
  will-change: transform;
}

.labelText {
  border-color: rgb(47, 47, 47);
  color: rgb(47, 47, 47);
  font-family: var(--font-manrope), sans-serif;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -2.56px;
  line-height: 64px;
  margin: 0;
  outline-color: rgb(47, 47, 47);
  text-decoration-color: rgb(47, 47, 47);
  text-emphasis-color: rgb(47, 47, 47);
  text-wrap: balance;
  white-space: pre-wrap;
  white-space-collapse: preserve;
}

.namePill {
  align-content: center;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  background-color: black;
  border-radius: 110px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 20px 26px;
  position: relative;
  width: min-content;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0.602187px 0.602187px -1.25px,
    rgba(0, 0, 0, 0.13) 0px 2.28853px 2.28853px -2.5px,
    rgba(0, 0, 0, 0.05) 0px 10px 10px -3.75px;
}

.namePillContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
}

.nameText {
  border-color: rgb(47, 47, 47);
  color: rgb(47, 47, 47);
  font-family: var(--font-manrope), sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
  outline-color: rgb(47, 47, 47);
  text-decoration-color: rgb(47, 47, 47);
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
}

.nameGradient {
  background-clip: text;
  background-image: linear-gradient(90deg,
      rgb(64, 135, 199) 0%,
      rgb(179, 98, 165) 50.4628%,
      rgb(240, 83, 41) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: rgb(47, 47, 47);
  color: rgb(47, 47, 47);
  display: inline-block;
  font-family: var(--font-manrope), sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  margin: -6.3px;
  outline-color: rgb(47, 47, 47);
  padding: 6.3px;
  text-decoration-color: rgb(47, 47, 47);
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
}

.descriptionRow {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  gap: 4px;
  height: min-content;
  justify-content: flex-start;
  padding-top: 4px;
  position: relative;
  width: 100%;
}

.roleRow {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 18px;
  height: min-content;
  justify-content: center;
  padding-right: 18px;
  position: relative;
  width: min-content;
  margin-bottom: 10px;
}

.roleLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
  will-change: transform;
}

.rolePill {
  align-content: center;
  align-items: center;
  /* background-color: rgb(47, 47, 47); */
  background-color: rgb(175, 175, 175);
  border-radius: 110px;
  display: flex;
  gap: 12px;
  height: min-content;
  justify-content: center;
  padding: 20px 26px;
  position: relative;
  width: min-content;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0.602187px 0.602187px -1.25px,
    rgba(0, 0, 0, 0.08) 0px 2.28853px 2.28853px -2.5px,
    rgba(0, 0, 0, 0.03) 0px 10px 10px -3.75px;
}

.rolePillContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
}

.roleText {
  border-color: rgb(255, 255, 255);
  /* color: rgb(255, 255, 255); */
  color: #ffffff;
  font-family: var(--font-manrope), sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1.28px;
  line-height: 32px;
  margin: 0;
  outline-color: rgb(255, 255, 255);
  text-decoration-color: rgb(255, 255, 255);
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
}

.locationRow {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 18px;
  height: min-content;
  justify-content: center;
  position: relative;
  width: min-content;
}

.locationLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
  will-change: transform;
}

.locationPill {
  align-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 110px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 20px 26px;
  position: relative;
  width: min-content;
  will-change: transform;
  border: 1px solid rgb(105, 177, 224);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0.602187px 0.602187px -1.25px,
    rgba(0, 0, 0, 0.08) 0px 2.28853px 2.28853px -2.5px,
    rgba(0, 0, 0, 0.03) 0px 10px 10px -3.75px;
}

.locationPillContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
}

.locationText {
  border-color: rgb(47, 47, 47);
  /* color: rgb(47, 47, 47); */
  color: black;
  font-family: var(--font-manrope), sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1.28px;
  line-height: 32px;
  margin: 0;
  outline-color: rgb(47, 47, 47);
  text-decoration-color: rgb(47, 47, 47);
  text-wrap: nowrap;
  white-space: pre;
  white-space-collapse: preserve;
}