.container {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  position: relative;
  width: min-content;
}

.link {
  align-content: center;
  align-items: center;
  border-color: rgb(0, 0, 238);
  color: rgb(0, 0, 238);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
  outline-color: rgb(0, 0, 238);
  position: relative;
  text-decoration: none;
  text-decoration-color: rgb(0, 0, 238);
  width: 100%;
  transition: opacity 0.2s ease;
}

.link:hover {
  opacity: 0.7;
}

.iconWrapper {
  aspect-ratio: 1 / 1;
  position: relative;
  width: 22px;
}

.iconContainer {
  border-color: rgb(0, 0, 238);
  color: rgb(0, 0, 238);
  cursor: pointer;
  flex-basis: 0;
  flex-grow: 1;
  height: 1px;
  opacity: 0.5;
  outline-color: rgb(0, 0, 238);
  overflow: hidden;
  position: relative;
  text-decoration-color: rgb(0, 0, 238);
  width: 100%;
}

.icon {
  border-color: rgb(0, 0, 238);
  color: rgb(0, 0, 238);
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  outline-color: rgb(0, 0, 238);
  text-decoration-color: rgb(0, 0, 238);
  width: 100%;
}
